ServiceNow-Ingestion-SQL-Watermark.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@pipeline().parameters.tables",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "FabricSqlDatabaseSource",
                  "sqlReaderQuery": {
                    "value": "SELECT ISNULL(CONVERT(VARCHAR(19), watermark_value, 120), '1970-01-01 00:00:00') AS watermark FROM dbo.watermark_tracking WHERE table_name = '@{item().tableName}'",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00"
                },
                "datasetSettings": {
                  "type": "FabricSqlDatabaseTable",
                  "schema": [],
                  "connectionSettings": {
                    "name": "watermark-servicenow",
                    "properties": {
                      "type": "FabricSqlDatabase",
                      "typeProperties": {
                        "artifactId": "0e60c8fe-9306-98e3-412e-223d50c85b9a",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "externalReferences": {
                        "connection": "3bbcd20d-eccb-4101-bbf9-53c3d7484654"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                },
                "firstRowOnly": true
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "GetWatermark",
              "dependsOn": []
            },
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "ServiceNowSource",
                  "expression": {
                    "type": "Nary",
                    "operators": [
                      ">="
                    ],
                    "operands": [
                      {
                        "type": "Field",
                        "value": "sys_updated_on"
                      },
                      {
                        "type": "Constant",
                        "value": {
                          "value": "@if(equals(activity('GetWatermark').status, 'Succeeded'), activity('GetWatermark').output.firstRow.watermark, '1970-01-01 00:00:00')",
                          "type": "Expression"
                        }
                      }
                    ]
                  },
                  "datasetSettings": {
                    "type": "ServiceNowObject",
                    "typeProperties": {
                      "tableName": "incident"
                    },
                    "schema": [
                      {
                        "name": "child_incidents",
                        "type": "integer"
                      },
                      {
                        "name": "sys_class_name",
                        "type": "sys_class_name"
                      },
                      {
                        "name": "resolved_at",
                        "type": "glide_date_time"
                      },
                      {
                        "name": "wf_activity",
                        "type": "reference"
                      },
                      {
                        "name": "sys_domain_path",
                        "type": "domain_path"
                      },
                      {
                        "name": "problem_id",
                        "type": "reference"
                      },
                      {
                        "name": "caller_id",
                        "type": "reference"
                      },
                      {
                        "name": "subcategory",
                        "type": "string"
                      },
                      {
                        "name": "contract",
                        "type": "reference"
                      },
                      {
                        "name": "reopened_time",
                        "type": "glide_date_time"
                      },
                      {
                        "name": "assignment_group",
                        "type": "reference"
                      },
                      {
                        "name": "approval",
                        "type": "string"
                      },
                      {
                        "name": "calendar_duration",
                        "type": "glide_duration"
                      },
                      {
                        "name": "knowledge",
                        "type": "boolean"
                      },
                      {
                        "name": "correlation_display",
                        "type": "string"
                      },
                      {
                        "name": "sys_id",
                        "type": "GUID"
                      },
                      {
                        "name": "short_description",
                        "type": "string"
                      },
                      {
                        "name": "company",
                        "type": "reference"
                      },
                      {
                        "name": "approval_set",
                        "type": "glide_date_time"
                      },
                      {
                        "name": "opened_by",
                        "type": "reference"
                      },
                      {
                        "name": "contact_type",
                        "type": "string"
                      },
                      {
                        "name": "made_sla",
                        "type": "boolean"
                      },
                      {
                        "name": "sys_updated_on",
                        "type": "glide_date_time"
                      },
                      {
                        "name": "work_notes_list",
                        "type": "glide_list"
                      },
                      {
                        "name": "parent_incident",
                        "type": "reference"
                      },
                      {
                        "name": "parent",
                        "type": "reference"
                      },
                      {
                        "name": "priority",
                        "type": "integer"
                      },
                      {
                        "name": "close_notes",
                        "type": "string"
                      },
                      {
                        "name": "reassignment_count",
                        "type": "integer"
                      },
                      {
                        "name": "due_date",
                        "type": "glide_date_time"
                      },
                      {
                        "name": "order",
                        "type": "integer"
                      },
                      {
                        "name": "sys_created_on",
                        "type": "glide_date_time"
                      },
                      {
                        "name": "description",
                        "type": "string"
                      },
                      {
                        "name": "impact",
                        "type": "integer"
                      },
                      {
                        "name": "closed_at",
                        "type": "glide_date_time"
                      },
                      {
                        "name": "group_list",
                        "type": "glide_list"
                      },
                      {
                        "name": "activity_due",
                        "type": "due_date"
                      },
                      {
                        "name": "business_impact",
                        "type": "string"
                      },
                      {
                        "name": "severity",
                        "type": "integer"
                      },
                      {
                        "name": "reopened_by",
                        "type": "reference"
                      },
                      {
                        "name": "notify",
                        "type": "integer"
                      },
                      {
                        "name": "comments_and_work_notes",
                        "type": "journal_list"
                      },
                      {
                        "name": "universal_request",
                        "type": "reference"
                      },
                      {
                        "name": "task_effective_number",
                        "type": "string"
                      },
                      {
                        "name": "route_reason",
                        "type": "integer"
                      },
                      {
                        "name": "hold_reason",
                        "type": "integer"
                      },
                      {
                        "name": "expected_start",
                        "type": "glide_date_time"
                      },
                      {
                        "name": "upon_reject",
                        "type": "string"
                      },
                      {
                        "name": "work_start",
                        "type": "glide_date_time"
                      },
                      {
                        "name": "upon_approval",
                        "type": "string"
                      },
                      {
                        "name": "close_code",
                        "type": "string"
                      },
                      {
                        "name": "rejection_goto",
                        "type": "reference"
                      },
                      {
                        "name": "work_end",
                        "type": "glide_date_time"
                      },
                      {
                        "name": "delivery_task",
                        "type": "reference"
                      },
                      {
                        "name": "delivery_plan",
                        "type": "reference"
                      },
                      {
                        "name": "service_offering",
                        "type": "reference"
                      },
                      {
                        "name": "rfc",
                        "type": "reference"
                      },
                      {
                        "name": "incident_state",
                        "type": "integer"
                      },
                      {
                        "name": "calendar_stc",
                        "type": "integer"
                      },
                      {
                        "name": "origin_table",
                        "type": "table_name"
                      },
                      {
                        "name": "comments",
                        "type": "journal_input"
                      },
                      {
                        "name": "urgency",
                        "type": "integer"
                      },
                      {
                        "name": "opened_at",
                        "type": "glide_date_time"
                      },
                      {
                        "name": "watch_list",
                        "type": "glide_list"
                      },
                      {
                        "name": "sla_due",
                        "type": "due_date"
                      },
                      {
                        "name": "sys_mod_count",
                        "type": "integer"
                      },
                      {
                        "name": "assigned_to",
                        "type": "reference"
                      },
                      {
                        "name": "escalation",
                        "type": "integer"
                      },
                      {
                        "name": "time_worked",
                        "type": "timer"
                      },
                      {
                        "name": "additional_assignee_list",
                        "type": "glide_list"
                      },
                      {
                        "name": "correlation_id",
                        "type": "string"
                      },
                      {
                        "name": "number",
                        "type": "string"
                      },
                      {
                        "name": "cmdb_ci",
                        "type": "reference"
                      },
                      {
                        "name": "approval_history",
                        "type": "journal"
                      },
                      {
                        "name": "business_duration",
                        "type": "glide_duration"
                      },
                      {
                        "name": "location",
                        "type": "reference"
                      },
                      {
                        "name": "user_input",
                        "type": "user_input"
                      },
                      {
                        "name": "sys_updated_by",
                        "type": "string"
                      },
                      {
                        "name": "resolved_by",
                        "type": "reference"
                      },
                      {
                        "name": "reopen_count",
                        "type": "integer"
                      },
                      {
                        "name": "active",
                        "type": "boolean"
                      },
                      {
                        "name": "state",
                        "type": "integer"
                      },
                      {
                        "name": "work_notes",
                        "type": "journal_input"
                      },
                      {
                        "name": "closed_by",
                        "type": "reference"
                      },
                      {
                        "name": "follow_up",
                        "type": "glide_date_time"
                      },
                      {
                        "name": "sys_domain",
                        "type": "domain_id"
                      },
                      {
                        "name": "sys_created_by",
                        "type": "string"
                      },
                      {
                        "name": "cause",
                        "type": "string"
                      },
                      {
                        "name": "variables",
                        "type": "variables"
                      },
                      {
                        "name": "business_stc",
                        "type": "integer"
                      },
                      {
                        "name": "origin_id",
                        "type": "document_id"
                      },
                      {
                        "name": "caused_by",
                        "type": "reference"
                      },
                      {
                        "name": "business_service",
                        "type": "reference"
                      },
                      {
                        "name": "category",
                        "type": "string"
                      }
                    ],
                    "externalReferences": {
                      "connection": "2777c6e7-123e-43e5-aef8-de9ed815763b"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "Upsert",
                  "applyVOrder": true,
                  "upsertSettings": {
                    "keys": [
                      "sys_id"
                    ]
                  },
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": {
                        "value": "@{item().tableName}",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "servicenow_data",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "eb36365b-3261-99ab-4c7c-5b2d04440b2f",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy ServiceNow Data",
              "description": "Copy ServiceNow Data",
              "dependsOn": [
                {
                  "activity": "GetWatermark",
                  "dependencyConditions": [
                    "Succeeded",
                    "Failed"
                  ]
                }
              ]
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[dbo].[usp_UpdateWatermark]",
                "storedProcedureParameters": {
                  "tableName": {
                    "value": {
                      "value": "@{item().tableName}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "watermarkValue": {
                    "value": {
                      "value": "@{utcNow('yyyy-MM-dd HH:mm:ss')}",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              },
              "connectionSettings": {
                "name": "watermark-servicenow",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "0e60c8fe-9306-98e3-412e-223d50c85b9a",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "3bbcd20d-eccb-4101-bbf9-53c3d7484654"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Update Watermark",
              "dependsOn": [
                {
                  "activity": "Copy ServiceNow Data",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "Looping Through Tables",
        "dependsOn": []
      }
    ],
    "parameters": {
      "tables": {
        "type": "array",
        "defaultValue": [
          {
            "tableName": "incident"
          },
          {
            "tableName": "change_request"
          },
          {
            "tableName": "cmdb_ci_server"
          }
        ]
      }
    }
  }
}