pipelines/servicenow-incremental-load.json
{
    "name": "ServiceNow-Incremental-Load",
    "description": "Incremental ingestion from ServiceNow into Fabric Lakehouse. Reads watermark from a Fabric SQL Database, pulls changed rows via ServiceNow V2 connector, upserts into Lakehouse on sys_id, then updates the watermark.",
    "properties": {
        "activities": [
            {
                "name": "ForEachTable",
                "type": "ForEach",
                "typeProperties": {
                    "isSequential": false,
                    "items": {
                        "value": "@pipeline().parameters.tables",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "GetWatermark",
                            "description": "Read the last watermark for this table from the SQL DB watermark table. Returns 1970-01-01 on first run.",
                            "type": "Lookup",
                            "typeProperties": {
                                "source": {
                                    "type": "SqlDatabaseSource",
                                    "sqlReaderQuery": {
                                        "value": "SELECT ISNULL(DATEADD(MINUTE, -5, watermark_value), '1970-01-01 00:00:00') AS watermark FROM dbo.watermark_tracking WHERE table_name = '@{item().tableName}'",
                                        "type": "Expression"
                                    }
                                },
                                "dataset": {
                                    "referenceName": "WatermarkSqlDB",
                                    "type": "SqlDatabaseReference"
                                },
                                "firstRowOnly": true
                            },
                            "dependsOn": []
                        },
                        {
                            "name": "CopyUpsert",
                            "description": "Pull rows where sys_updated_on > watermark, upsert into Lakehouse on sys_id",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "GetWatermark",
                                    "dependencyConditions": ["Succeeded", "Failed"]
                                }
                            ],
                            "typeProperties": {
                                "source": {
                                    "type": "ServiceNowV2Source",
                                    "tableName": {
                                        "value": "@{item().tableName}",
                                        "type": "Expression"
                                    },
                                    "expression": {
                                        "value": {
                                            "type": "Binary",
                                            "operators": [">"],
                                            "operands": [
                                                {
                                                    "type": "Field",
                                                    "value": "sys_updated_on"
                                                },
                                                {
                                                    "type": "Constant",
                                                    "value": "@{if(equals(activity('GetWatermark').status, 'Succeeded'), activity('GetWatermark').output.firstRow.watermark, '1970-01-01 00:00:00')}"
                                                }
                                            ]
                                        },
                                        "type": "Expression"
                                    }
                                },
                                "sink": {
                                    "type": "LakehouseTableSink",
                                    "tableActionOption": "Upsert",
                                    "keyColumns": ["sys_id"],
                                    "tableName": {
                                        "value": "@{item().tableName}",
                                        "type": "Expression"
                                    }
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "ServiceNowConnection",
                                    "type": "ServiceNowV2ConnectionReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ServiceNowLakehouse",
                                    "type": "LakehouseReference"
                                }
                            ]
                        },
                        {
                            "name": "UpdateWatermark",
                            "description": "After a successful copy, update the watermark in the SQL DB to the current UTC time",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [
                                {
                                    "activity": "CopyUpsert",
                                    "dependencyConditions": ["Succeeded"]
                                }
                            ],
                            "typeProperties": {
                                "storedProcedureName": "dbo.usp_UpdateWatermark",
                                "storedProcedureParameters": {
                                    "tableName": {
                                        "value": "@{item().tableName}",
                                        "type": "String"
                                    },
                                    "watermarkValue": {
                                        "value": "@{utcNow('yyyy-MM-dd HH:mm:ss')}",
                                        "type": "String"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "WatermarkSqlDB",
                                "type": "SqlDatabaseReference"
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "tables": {
                "type": "Array",
                "defaultValue": [
                    { "tableName": "incident" },
                    { "tableName": "cmdb_ci" },
                    { "tableName": "sys_user" },
                    { "tableName": "sys_user_group" },
                    { "tableName": "change_request" },
                    { "tableName": "cmdb_rel_ci" }
                ]
            }
        }
    }
}
